:root{
    --color1: #003274;
    --color2: #ffee00;
    --color3: #ffffff;
    --color4: rgb(0, 0, 0);
}


/* LISTA DE PRODUCTOS EN CUADRICULA */

.contenido-principal{
    width: 90%;
    display: grid;
    align-items: stretch;
    position: relative;
    padding-top: 8em;
    padding-bottom: 8em;
    margin: auto;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    text-align: center;
}

.caja-producto{
    background-color: white;
    border-radius: .3em;
    box-shadow: 0px 1px 2px 0px rgb(97, 89, 89);
}

.imagen-producto{
    max-width: 100%;
    margin-top: .3em;
    height: 270px;
    border-radius: .3em .3em .3em .3em;
}

.caja-descripcion{
    align-items: center;
    background-color: #ffee00;
    color: black;
    padding-bottom: 1em;
    border-radius: 0 0 .1em .1em;

}

.caja-titulo{
    padding-top: .6em;
    font-family: 'Lato';
    text-transform: uppercase;
    color: #302e2e;
    font-weight: bold;
    font-size: 1.5em;
}

.precio{
    padding-bottom: 0.5em;
    font-weight: bold;
    font-family: 'Lato';
    color: black;
    font-size: 1.2em;
}

.boton-agregar{
    display: block;
    background-color: black;
    padding: .9em;
    color: white;
    width: 190px;
    margin: auto;
    border-radius: .1em;
}

.boton-agregar:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}


.imagen-producto{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.imagen-producto:hover{
    overflow: hidden;
    
}

.imagen-producto:hover {
    transform: scale(1.2);
}