/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}



.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #ffffff;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* LISTA DE PRODUCTOS EN CUADRICULA */

.contenido-principal{
    width: 90%;
    display: grid;
    align-items: stretch;
    position: relative;
    padding-bottom: 6em;
    margin: auto;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    text-align: center;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex: 0.8;
    padding-bottom: 1em;
    border-radius: 0 0 .1em .1em;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border-radius: .3em .3em .3em .3em;
    
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
    
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    background-color: #ffee00;
    padding: 15px 30px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}



.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}





#carritoCompletoContainer {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Transparencia del fondo */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #carritoCompletoContent {
    width: 80%;
    max-height: 80%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius:  10px;
  }

  #carritoCompletoContent-close{
    transform:translateY(-200%);
  }

.close{
    position:absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}
  

