<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/35395e1fb2.js" crossorigin="anonymous"></script>
    <script src="js/jquery.js"></script>
    <script src="js/headroom.min.js"></script>
    <script src="js/menu-flex.js"></script>
    <title>Catálogo de productos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/catalogo.css">
    <link rel="stylesheet" type="text/css" href="css/cabecera.css">

</head>

<body>
    <header id="header">
        <nav class="menu">
            <div class="logo">
                <a href="index.html">
                    <img src="img/credillantslogo.png" alt="" class="logoimg">
                </a>
                <a href="#" class="btn-menu" id="btn-menu">
                    <i class="icono-menu fa fa-bars"></i>
                </a>
            </div>
            <div class="enlaces" id="enlaces">
                <a th:href="@{/index}">Inicio</a>
                <a  th:href="@{/catalogo}">Productos</a>
                <a href="">Servicios</a>
                <a href="">Contáctanos</a>
                <a href="">Login</a>

                <div class="cont-icon">
                    <div class="cont-cart-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="icon-cart">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                        </svg>
                        <div class="count-products">
                            <span id="contador-productos">0</span>
                        </div>
                    </div>
                    <div class="cont-cart-products hidden-cart">
                        <div class="row-product hidden">
                            <div class="cart-product">
                                <div class="info-cart-product">
                                    <span class="cantidad-producto-carrito">1</span>
                                    <p class="titulo-producto-carrito">dementirita</p>
                                    <span class="precio-producto-carrito">$80</span>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="icon-close">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </div>
                        </div>
                        <div class="cart-total hidden">
                            <h3>Total:</h3>
                            <span class="total-pagar">$200</span><br>
                            <br><a th:href="@{/carrito}" onclick="saveCart()">Ver el carrito de compras</a>
                            <script>
                                function saveCart() {
                                    // Guardar el carrito en el almacenamiento local
                                    localStorage.setItem('cart', JSON.stringify(allProducts));
                                }
                            </script>
                        </div>
                        <p class="cart-empty">El carrito está vacío</p>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section class="contenido-principal">
		<div class="container-items">
			<div class="item" th:each="producto:${productos}">
				<img class="imagen-producto" src="img/llanta.jpg" alt="producto" />
				<div class="info-product" th:each="productos:${producto}">
					<center>
						<h2 class="caja-titulo" th:text="${producto.nombreProducto}"></h2>
						<p class="price" th:text="'S/. ' + ${producto.precioProducto}"></p>
					</center>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
    </section>

    <!-- Resto del código HTML -->

    <script src="js/index.js"></script>
</body>

</html>